@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

/* VARIABLES */
:root {
    --color-white: #f5f5f5;
    --color-bg1: #1b1e1f;
}
/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: var(--color-white);
    background-image: linear-gradient(180deg, hsla(204, 9%, 11%, 0.90) 75%, transparent 200%);
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
}

a, img, span, input, button {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

a, button {
    cursor: pointer;
}

li { 
    list-style: none;
}

/* LAYOUT */
.container {
    padding: 0 2rem;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--color-white);
}

/* HEADER */
header>.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
}


/* NAVIGATION */
.nav-top {
    display: flex;
}

.nav-main {
    height: 100%;
    width: 16rem;
    position: absolute;
    left: -16rem;
    top: 0;
    padding: 3rem;
    background-color: var(--color-bg1);
    padding: 2rem;
    /* visibility: hidden; */
}

.btn-open {
    font-size: 2rem;
}

.btn-close {
    position: absolute;
    top: 0;
    left: 16rem;
    font-size: 2rem;
    background-color: #1b1e1f;
    padding: .25rem .5rem;
    border-bottom-right-radius: 1rem;
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px #4A4857;
}

.logo i {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.logo-main {
    margin: 0 auto;
}

.hidden {
    display: none;
}


/* PLAYLIST */
.song-item {
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    margin: 2rem 0;
}

@media screen and (min-width: 992px ) {
    .nav-main {
        left: 0;
        top: 0;
        box-shadow: .5rem 0rem 1rem rgba(0, 0, 0, 0.25);
    }

    .btn-close {
        display: block;
    }

    .logo-main {
        display: none;
    }
}